.cmt {
    margin-top: 500px;
}
.cm {
    margin-left: 150px;
}
.auto-end {
    position: relative;
    margin-inline-start: 1300px;
}
.bg-main {
    background-image: url("../images/main-bg.png");
    position: static;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover, contain;
    height: 90%;
    width: 100%;
}
